<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="depth_camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="depth_camera_link"/>
        <origin xyz="0.455 0 0.08" rpy="0 0 0"/>
    </joint>

    <link name="depth_camera_link"> 
        <visual>
            <geometry>
                <box size="0.01 0.03 0.03"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <joint name="depth_camera_optical_joint" type="fixed">
        <parent link="depth_camera_link"/>
        <child link="depth_camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="depth_camera_link_optical"></link>

    <gazebo reference="depth_camera_link">
        <sensor name="depth_camera" type="depth">
            <pose>0 0 0 0 0 0</pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>depth_camera/depth/image_raw</topic>
            <gz_frame_id>depth_camera_link_optical</gz_frame_id>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                </image>
                <depth_camera>
                    <clip>
                        <near>0.05</near>
                        <far>8.0</far>
                    </clip>
                </depth_camera>
            </camera>
        </sensor>
        <material>Gazebo/Red</material>
    </gazebo>

</robot>
